## Download HF dataset

In [25]:
import pandas as pd

n_per_dataset = 200
df = pd.DataFrame(columns=['prompt_en', 'prompt_ar', 'response_en', 'response_ar', 'source'])

In [26]:
from datasets import load_dataset

dataset_repo = 'akoksal/LongForm'
dataset = load_dataset(dataset_repo, split='test')

df_longForm = pd.DataFrame(dataset)
df_longForm.shape

(2045, 4)

In [27]:
df_longForm.head()

,input,output,source,subset
0,Analyze the information presented in the text ...,Mueller’s proposed questions are presumably th...,C4,instruction
1,What are the aspects of Buddhism and it's scri...,What are the aspects of Buddhism and it's scri...,StackExchange,buddhism
2,Unable to conditionally test for presence of a...,"The problem is, your vimrc file is executed be...",StackExchange,vi
3,What is Por Macau?,"Por Macau () is a political party in Macau, Ch...",Wikipedia,chatbot
4,Why are passengers requested to close their wi...,This is a personal experience rather than an a...,StackExchange,aviation

In [28]:
subsampled_df = df_longForm[['input', 'output']].sample(n=n_per_dataset).reset_index(drop=True)

df = pd.concat([df, pd.DataFrame(
    {'prompt_en': subsampled_df['input'].tolist(),
     'prompt_ar': '',
     'response_en': subsampled_df['output'].tolist(),
     'response_ar': '',
     'source': dataset_repo,
    })], ignore_index=True)

df.shape

(200, 5)

In [30]:
from datasets import load_dataset

dataset_repo = 'mlabonne/alpagasus'
dataset = load_dataset(dataset_repo, split='train')

df_alpagasus = pd.DataFrame(dataset)
df_alpagasus.shape

(9229, 3)

In [31]:
df_alpagasus = df_alpagasus[df_alpagasus['input'] == '']
df_alpagasus.shape

(6706, 3)

In [32]:
df_alpagasus.head()

,instruction,input,output
0,Give three tips for staying healthy.,,1.Eat a balanced diet and make sure to include...
1,How can we reduce air pollution?,,There are a number of ways to reduce air pollu...
2,Generate a list of ten items a person might ne...,,1. Tent\n2. Sleeping bags\n3. Flashlight\n4. M...
3,Discuss the causes of the Great Depression,,The Great Depression was a severe global econo...
5,Describe the function of a computer motherboard,,A computer motherboard is the main circuit boa...

In [33]:
subsampled_df = df_alpagasus[['instruction', 'output']].sample(n=n_per_dataset).reset_index(drop=True)

df = pd.concat([df, pd.DataFrame(
    {'prompt_en': subsampled_df['instruction'].tolist(),
     'prompt_ar': '',
     'response_en': subsampled_df['output'].tolist(),
     'response_ar': '',
     'source': dataset_repo,
    })], ignore_index=True)

df.shape

(400, 5)

In [34]:
from datasets import load_dataset

dataset_repo = 'HuggingFaceH4/Koala-test-set'
dataset = load_dataset(dataset_repo, split='test')

df_koala = pd.DataFrame(dataset)
df_koala.shape

Downloading readme: 100%|██████████| 104/104 [00:00<00:00, 441kB/s]
Downloading data: 100%|██████████| 142k/142k [00:00<00:00, 296kB/s]
Generating test split: 180 examples [00:00, 42445.31 examples/s]

(180, 2)

In [35]:
df_koala.head()

        id                                             prompt
0  koala_0  Can you list the top 20 films or movies betwee...
1  koala_1  Take MLK speech "I had a dream" but turn it in...
2  koala_2  List the layers of the TCP/IP model and for ea...
3  koala_3  Please proofread and polish the passage from a...
4  koala_4  Why can't bank use cash as capital as a buffer...

In [36]:
df = pd.concat([df, pd.DataFrame(
    {'prompt_en': df_koala['prompt'].tolist(),
     'prompt_ar': '',
     'response_en': '',
     'response_ar': '',
     'source': dataset_repo,
    })], ignore_index=True)

df.shape

(580, 5)

In [38]:
from datasets import load_dataset

dataset_repo = 'HuggingFaceH4/ultrachat_200k'
dataset = load_dataset(dataset_repo, split='test_sft')

df_ultra = pd.DataFrame(dataset)
df_ultra.shape

Downloading data:  52%|█████▏    | 41.9M/80.4M [00:15<00:04, 9.33MB/s]
Downloading data:   0%|          | 0.00/80.4M [00:00<?, ?B/s]
Downloading data:  13%|█▎        | 10.5M/80.4M [00:04<00:27, 2.56MB/s]
Downloading data:  26%|██▌       | 21.0M/80.4M [00:04<00:12, 4.87MB/s]
Downloading data:  39%|███▉      | 31.5M/80.4M [00:05<00:07, 6.76MB/s]
Downloading data:  52%|█████▏    | 41.9M/80.4M [00:06<00:04, 8.35MB/s]
Downloading data:  65%|██████▌   | 52.4M/80.4M [00:08<00:04, 6.49MB/s]
Downloading data:  78%|███████▊  | 62.9M/80.4M [00:09<00:02, 7.82MB/s]
Downloading data:  91%|█████████▏| 73.4M/80.4M [00:10<00:00, 8.79MB/s]
Downloading data: 100%|██████████| 80.4M/80.4M [00:11<00:00, 7.25MB/s]

Generating train_sft split:   0%|          | 0/207865 [00:00<?, ? examples/s]
Generating train_sft split:   3%|▎         | 7000/207865 [00:00<00:03, 61090.06 examples/s]
Generating train_sft split:   7%|▋         | 15000/207865 [00:00<00:02, 66963.37 examples/s]
Generating train_sft split:  11%|█         | 23000/207865 [00:00<00:02, 69604.51 examples/s]
Generating train_sft split:  15%|█▌        | 32000/207865 [00:00<00:02, 73155.56 examples/s]
Generating train_sft split:  19%|█▉        | 40000/207865 [00:00<00:02, 74359.36 examples/s]
Generating train_sft split:  23%|██▎       | 48000/207865 [00:00<00:02, 73371.58 examples/s]
Generating train_sft split:  28%|██▊       | 58000/207865 [00:00<00:02, 64496.92 examples/s]
Generating train_sft split:  33%|███▎      | 68000/207865 [00:01<00:02, 61081.83 examples/s]
Generating train_sft split:  37%|███▋      | 76289/207865 [00:01<00:02, 64098.39 examples/s]
Generating train_sft split:  41%|████      | 85289/207865 [00:01<00:01, 68388.29 examples/s]
Generating train_sft split:  45%|████▌     | 94289/207865 [00:01<00:01, 70640.00 examples/s]
Generating train_sft split:  50%|████▉     | 103289/207865 [00:01<00:01, 74610.57 examples/s]
Generating train_sft split:  54%|█████▎    | 111289/207865 [00:01<00:01, 73334.61 examples/s]
Generating train_sft split:  57%|█████▋    | 119289/207865 [00:01<00:01, 73024.66 examples/s]
Generating train_sft split:  61%|██████    | 127289/207865 [00:01<00:01, 72069.02 examples/s]
Generating train_sft split:  66%|██████▌   | 136289/207865 [00:01<00:00, 73305.67 examples/s]
Generating train_sft split:  71%|███████▏  | 148577/207865 [00:02<00:00, 74598.71 examples/s]
Generating train_sft split:  77%|███████▋  | 160577/207865 [00:02<00:00, 73619.04 examples/s]
Generating train_sft split:  81%|████████  | 168577/207865 [00:02<00:00, 72925.57 examples/s]
Generating train_sft split:  85%|████████▍ | 176577/207865 [00:02<00:00, 72209.67 examples/s]
Generating train_sft split:  90%|████████▉ | 186577/207865 [00:02<00:00, 64227.35 examples/s]
Generating train_sft split:  95%|█████████▍| 196577/207865 [00:02<00:00, 57251.62 examples/s]
Generating train_sft split: 100%|██████████| 207865/207865 [00:03<00:00, 68022.06 examples/s]

Generating test_sft split:   0%|          | 0/23110 [00:00<?, ? examples/s]
Generating test_sft split:  39%|███▉      | 9000/23110 [00:00<00:00, 73161.85 examples/s]
Generating test_sft split: 100%|██████████| 23110/23110 [00:00<00:00, 72795.41 examples/s]

Generating train_gen split:   0%|          | 0/256032 [00:00<?, ? examples/s]
Generating train_gen split:   4%|▍         | 10000/256032 [00:00<00:02, 97471.68 examples/s]
Generating train_gen split:   8%|▊         | 20000/256032 [00:00<00:02, 93039.65 examples/s]
Generating train_gen split:  12%|█▏        | 30000/256032 [00:00<00:02, 92814.51 examples/s]
Generating train_gen split:  16%|█▌        | 40000/256032 [00:00<00:02, 93464.11 examples/s]
Generating train_gen split:  20%|█▉        | 51000/256032 [00:00<00:02, 97095.32 examples/s]
Generating train_gen split:  24%|██▍       | 62000/256032 [00:00<00:01, 100184.34 examples/s]
Generating train_gen split:  30%|███       | 78000/256032 [00:00<00:01, 98430.33 examples/s]
Generating train_gen split:  36%|███▌      | 91344/256032 [00:00<00:01, 91331.93 examples/s]
Generating train_gen split:  40%|███▉      | 102344/256032 [00:01<00:01, 91684.24 examples/s]
Generating train_gen split:  44%|████▍     | 112344/256032 [00:01<00:01, 89172.81 examples/s]
Generating train_gen split:  48%|████▊     | 123344/256032 [00:01<00:01, 90808.88 examples/s]
Generating train_gen split:  54%|█████▍    | 138344/256032 [00:01<00:01, 91359.74 examples/s]
Generating train_gen split:  58%|█████▊    | 148344/256032 [00:01<00:01, 92078.10 examples/s]
Generating train_gen split:  62%|██████▏   | 158344/256032 [00:01<00:01, 92357.49 examples/s]
Generating train_gen split:  66%|██████▌   | 168344/256032 [00:01<00:00, 90430.43 examples/s]
Generating train_gen split:  69%|██████▉   | 177688/256032 [00:01<00:00, 88163.04 examples/s]
Generating train_gen split:  73%|███████▎  | 186688/256032 [00:02<00:00, 85644.26 examples/s]
Generating train_gen split:  76%|███████▋  | 195688/256032 [00:02<00:00, 84733.00 examples/s]
Generating train_gen split:  80%|████████  | 205688/256032 [00:02<00:00, 85008.59 examples/s]
Generating train_gen split:  85%|████████▌ | 218688/256032 [00:02<00:00, 76751.61 examples/s]
Generating train_gen split:  90%|████████▉ | 229688/256032 [00:02<00:00, 82314.54 examples/s]
Generating train_gen split:  94%|█████████▍| 240688/256032 [00:02<00:00, 85569.93 examples/s]
Generating train_gen split: 100%|██████████| 256032/256032 [00:02<00:00, 89618.13 examples/s]

Generating test_gen split:   0%|          | 0/28304 [00:00<?, ? examples/s]
Generating test_gen split:  39%|███▉      | 11000/28304 [00:00<00:00, 100198.59 examples/s]
Generating test_gen split: 100%|██████████| 28304/28304 [00:00<00:00, 90591.88 examples/s]

(23110, 3)

In [39]:
df_ultra.head()

,prompt,prompt_id,messages
0,How does the author propose to fix the problem...,9fb649a870769f4881c647d20d178656f67fc881b2dc0b...,[{'content': 'How does the author propose to f...
1,Rice tolerance to suboptimal low temperatures ...,26afb4f9bffc82fbbfdcaa8f0eec0833780e411799dcee...,[{'content': 'Rice tolerance to suboptimal low...
2,Write a free verse poem about the power of the...,3ab0d0c24777248cbc4aa33971d34e8de9393db1ea0cc1...,[{'content': 'Write a free verse poem about th...
3,Compose a speech about the need for more affor...,5dac3c072ba477af9ed0c71a31a806f307d7ea839a7977...,[{'content': 'Compose a speech about the need ...
4,Write a historical fiction story that is set d...,b750ea229635aa6683e0018abd17f92804376c1b0c474d...,[{'content': 'Write a historical fiction story...

In [50]:
df_ultra.messages.iloc[0][1]

{'content': 'The author proposes to fix the problem of science alienation in our educational system by splitting K-12 science education into two tracks, for majors and nonmajors. Those who want to specialize in science could take math and complex chemistry, while nonmajors would focus on science of the everyday – things like kitchen chemistry and CSI-style crime investigations. All high school students should take four years of science, and the tracking system could build on existing science electives. The goal is to teach every student a solid understanding and appreciation of science, one that will remain useful to both themselves and society throughout their lives.',
 'role': 'assistant'}

In [52]:
subsampled_df = df_ultra[['prompt', 'messages']].sample(n=n_per_dataset).reset_index(drop=True)
collect_prompt = []
collect_response = []

for i in range(subsampled_df.shape[0]):
    messages = subsampled_df.messages.iloc[i]
    current_role = 'user'

    collect_prompt_sub = []
    collect_response_sub = []
    
    for message in messages:
        role = message['role']
        content = message['content']
        if role != current_role:
            break
        
        if current_role == 'user':
            collect_prompt_sub.append(content)
            current_role = 'assistant'
        else:
            collect_response_sub.append(content)
            current_role = 'user'

    if len(collect_prompt_sub) != 0:
        collect_prompt.append(collect_prompt_sub)
        collect_response.append(collect_response_sub)

len(collect_prompt), len(collect_response)

(200, 200)

In [53]:
df = pd.concat([df, pd.DataFrame(
    {'prompt_en': collect_prompt,
     'prompt_ar': '',
     'response_en': collect_response,
     'response_ar': '',
     'source': dataset_repo,
    })], ignore_index=True)

df.shape

(780, 5)

In [59]:
from datasets import load_dataset

dataset_repo = 'HuggingFaceH4/mt_bench_prompts'
dataset = load_dataset(dataset_repo, split='train')

df_mt = pd.DataFrame(dataset)
df_mt.shape

Downloading readme: 100%|██████████| 1.49k/1.49k [00:00<00:00, 4.85MB/s]

Downloading data:   0%|          | 0.00/30.1k [00:00<?, ?B/s]
Downloading data: 100%|██████████| 30.1k/30.1k [00:01<00:00, 21.3kB/s]

Generating train split: 80 examples [00:00, 13729.87 examples/s]

(80, 4)

In [60]:
df_mt.head()

,category,prompt,reference,prompt_id
0,writing,[Compose an engaging travel blog post about a ...,[],44067482
1,writing,[Draft a professional email seeking your super...,[],49723273
2,writing,[Imagine you are writing a blog post comparing...,[],72595869
3,writing,[Write a persuasive email to convince your int...,[],9147946
4,writing,"[Describe a vivid and unique character, using ...",[],3075696

In [61]:
df = pd.concat([df, pd.DataFrame(
    {'prompt_en': df_mt['prompt'].tolist(),
     'prompt_ar': '',
     'response_en': '',
     'response_ar': '',
     'source': dataset_repo,
    })], ignore_index=True)

df.shape

(860, 5)

In [62]:
from datasets import load_dataset

dataset_repo = 'reciprocate/alpaca-eval'
dataset = load_dataset(dataset_repo, split='test')

df_alpaca = pd.DataFrame(dataset)
df_alpaca.shape

Downloading readme: 100%|██████████| 549/549 [00:00<00:00, 3.01MB/s]

Downloading data:   0%|          | 0.00/7.11M [00:00<?, ?B/s]
Downloading data: 100%|██████████| 7.11M/7.11M [00:05<00:00, 1.23MB/s]

Downloading data:   0%|          | 0.00/803k [00:00<?, ?B/s]
Downloading data: 100%|██████████| 803k/803k [00:01<00:00, 522kB/s]

Generating train split: 100%|██████████| 9418/9418 [00:00<00:00, 322989.63 examples/s]

Generating test split: 100%|██████████| 1047/1047 [00:00<00:00, 148009.31 examples/s]

(1047, 4)

In [63]:
df_alpaca.head()

,prompt,selected,rejected,source
0,"USER: You are given a paper citation, convert ...","Vaswani, Ashish, et al. “Attention Is All You ...","Vaswani, Ashish, et al. ""Attention Is All You ...",selfinstruct/alpaca_eval_gpt4
1,USER: what is needed for self-sufficient livin...,In order to create self-sufficient living spac...,In order to create self-sufficient living spac...,koala/alpaca_eval_gpt4
2,USER: can you please create a python script th...,Here's a Python script that calculates the der...,# This program will calculate the derivative o...,oasst/alpaca_eval_gpt4
3,USER: Find sentences from reliable sources suc...,Here are two sentences containing the exact ph...,"""There are great options for people who are lo...",selfinstruct/alpaca_eval_gpt4
4,USER: What is kevlar made out of? ASSISTANT:,Kevlar is a synthetic fiber that is made from ...,Kevlar is made out of poly-paraphenylene terep...,helpful_base/alpaca_eval_gpt4

In [66]:
subsampled_df = df_alpaca[['prompt', 'selected']].sample(n=n_per_dataset).reset_index(drop=True)

for i in range(subsampled_df.shape[0]):
    if subsampled_df.prompt.iloc[i][:6] != 'USER: ':
        print('Uneven prompt pattern')

In [67]:
df = pd.concat([df, pd.DataFrame(
    {'prompt_en': [i[6:] for i in subsampled_df['prompt'].tolist()],
     'prompt_ar': '',
     'response_en': df_alpaca['selected'].tolist(),
     'response_ar': '',
     'source': dataset_repo,
    })], ignore_index=True)

df.shape

(1907, 5)